@font-face {
    font-family: 'sinkin-700-bold-italic';
    src: url('Sinkin-700-Bold-Italic.eot');
    src: url('Sinkin-700-Bold-Italic.eot?#iefix') format('embedded-opentype'),
         url('Sinkin-700-Bold-Italic.woff') format('woff'),
         url('Sinkin-700-Bold-Italic.ttf') format('truetype'),
         url('Sinkin-700-Bold-Italic.svg#sinkin-700-bold-italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

