@font-face {
    font-family: 'sinkin-800-black';
    src: url('Sinkin-800-Black.eot');
    src: url('Sinkin-800-Black.eot?#iefix') format('embedded-opentype'),
         url('Sinkin-800-Black.woff') format('woff'),
         url('Sinkin-800-Black.ttf') format('truetype'),
         url('Sinkin-800-Black.svg#sinkin-800-black') format('svg');
    font-weight: normal;
    font-style: normal;

}

