// COMPASS CONFIG???
@import "html5boilerplate";
@import "compass";
// @import "susy";
// @import "breakpoint";
@import "bourbon/bourbon";
@import "neat/neat";

// ############################

// COLORS
$primary:       #333;
$primaryDk:     darken($primary,10);
$secondary:     lighten($primary,20);
$accent:        lighten(rgba(7, 119, 180, 1),10);
$accentDk:      darken($accent,12);
$bkgd:          #E1DDD2;
$bkgdLt:        lighten($bkgd,5);
$ivory:         rgba(255, 253, 244, 1);// #FFFDF4 IVORY

$grey:          #333;
$greyLighter:   lighten($grey,40);
$greyLightest:  lighten($grey,70);

$black:         #323232;
$white:         white;

$text:          $black;
$paleyellow:    rgba(255,  255, 191, 0.6);//pale yellow trans

// FONTS
$font:            'sinkin-400-regular', "Helvetica Neue", Arial, sans-serif;
$fontItalic:      'sinkin-400-italic', "Helvetica Neue", Arial, sans-serif;
$fontHead:        'sinkin-700-bold', "Helvetica Neue", Arial, sans-serif;
$fontHeadItalic:  'sinkin-700-bold-italic', "Helvetica Neue", Arial, sans-serif;
$fontCopy:        'sinkin-400-regular', "Helvetica Neue", Arial, sans-serif;
$fontCopyBold:    'sinkin-700-bold', "Helvetica Neue", Arial, sans-serif;
$fontCopyItalic:  'sinkin-400-italic', "Helvetica Neue", Arial, sans-serif;
$fontMed:         'sinkin-500-medium', "Helvetica Neue", Arial, sans-serif;
$fontBold:        'sinkin-700-bold', "Helvetica Neue", Arial, sans-serif;
$fontMedItalic:   'sinkin-500-medium_italic', "Helvetica Neue", Arial, sans-serif;
$fontBlack:       'sinkin-800-black', "Helvetica Neue", Arial, sans-serif;
$fontBlackItalic: 'sinkin-800-black-italic', "Helvetica Neue", Arial, sans-serif;

a {
    text-decoration: none;
    @include transition-property(all);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in);
    @include link-colors(
        $normal: $primary,
        $visited: darken($primary,15),
        $hover: darken($primary,15));
}



