@font-face {
    font-family: 'sinkin-300-light-italic';
    src: url('Sinkin-300-LightItalic.eot');
    src: url('Sinkin-300-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('Sinkin-300-LightItalic.woff') format('woff'),
         url('Sinkin-300-LightItalic.ttf') format('truetype'),
         url('Sinkin-300-LightItalic.svg#sinkin-300-light-italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

