@font-face {
    font-family: 'sinkin-900-x-black-italic';
    src: url('Sinkin-900-XBlackItalic.eot');
    src: url('Sinkin-900-XBlackItalic.eot?#iefix') format('embedded-opentype'),
         url('Sinkin-900-XBlackItalic.woff') format('woff'),
         url('Sinkin-900-XBlackItalic.ttf') format('truetype'),
         url('Sinkin-900-XBlackItalic.svg#sinkin-900-x-black-italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

