@font-face {
    font-family: 'sinkin-600-SBdIt';
    src: url('Sinkin-600-SemiBoldItalic.eot');
    src: url('Sinkin-600-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
         url('Sinkin-600-SemiBoldItalic.woff') format('woff'),
         url('Sinkin-600-SemiBoldItalic.ttf') format('truetype'),
         url('Sinkin-600-SemiBoldItalic.svg#sinkin-600-SBdIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

