<header>
    <a href="index.html">
        <div class="branding">
            <div class="logo"></div>
            <div class="brandName">Artis-Secure <small>Ltd.</small></div>
            <div class="tagline">Consistent &bull; Repeatable &bull; Measurable</div>
        </div>
    </a>

    <div class="headContact">
        <button class="linkedin"><a href="http://uk.linkedin.com/pub/geoffrey-hill/0/7bb/61b/en" target="blank">Linked <span class="linkBox">in</span></a></button>
        <p class="email"><a href="mailto:geoff-h@artis-secure.com">geoff-h@artis-secure.com</a></p>
    </div>

</header>