<header>
  <div class="branding">
    <a href="index.html">
      <div class="logo"></div>
      <div class="brandName">Artis-Secure</div>
      <div class="tagline">Consistent &bull; Repeatable &bull; Measurable</div>
    </a>
  </div>

  <div class="headContact">
    <a href="http://uk.linkedin.com/pub/geoffrey-hill/0/7bb/61b/en" target="blank">
      <button class="linkedin">Linked <span class="linkBox">in</span></button>
    </a>
    <p class="email">
      <a href="mailto:geoff-h@artis-secure.com">geoff-h@artis-secure.com</a>
    </p>
  </div>

</header>
