<!-- NAV START -->
<nav class="nav-collapse">
    <ul>
        <li class="home">
            <a href="index.html"
            title="Home">Home</a>
        </li>
        <li class="threat">
            <a href="threatModelling.html"
            title="Threat Modelling">Threat Modelling</a>
        </li>
        <li class="secureCoding">
            <a href="secureCodingPatterns.html"
            title="Secure Coding Patterns">Secure Coding Patterns</a>
        </li>
        <li class="secureEng">
            <a href="secureEngineering.html"
            title="Secure Engineering">Secure Engineering</a>
        </li>
        <li class="about">
            <a href="about.html"
            title="About">About</a>
        </li>
    </ul>
</nav>
<!-- NAV END -->
