<div class="modal">

  <label for="modal-1">
    <!-- <div class="modal-trigger">Click for Modal</div> -->
    <div class="modal-trigger hvr-float-shadow slideshowBtn">Check out a quick Slideshow</div>
  </label>

  <input class="modal-state" id="modal-1" type="checkbox" />

  <div class="modal-window">
    <div class="modal-inner">

      <label class="modal-close" for="modal-1"></label>

      <div class="flexslider">

        <ul class="slides">
          <li>
            <img src="img/slides/threat_modelling_training_1.jpg">
          </li>
          <li>
            <img src="img/slides/threat_modelling_training_2.jpg">
          </li>
          <li>
            <img src="img/slides/threat_modelling_training_3.jpg">
          </li>
          <li>
            <img src="img/slides/threat_modelling_training_4.jpg">
          </li>
          <li>
            <img src="img/slides/threat_modelling_training_5.jpg">
          </li>
          <li>
            <img src="img/slides/threat_modelling_training_6.jpg">
          </li>
          <li>
            <img src="img/slides/threat_modelling_training_7.jpg">
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>



