<div class="modal">

  <label for="modal-1">
    <!-- <div class="modal-trigger">Click for Modal</div> -->
    <div class="modal-trigger hvr-float-shadow slideshowBtn">Check out a quick Slideshow</div>
  </label>

  <input class="modal-state" id="modal-1" type="checkbox" />

  <div class="modal-window">
    <div class="modal-inner">

      <label class="modal-close" for="modal-1"></label>

      <div class="flexslider">

        <ul class="slides">
          <li>
            <img src="img/slides/threat_modelling_training_001.png">
          </li>
          <li>
            <img src="img/slides/threat_modelling_training_002.png">
          </li>
          <li>
            <img src="img/slides/threat_modelling_training_003.png">
          </li>
          <li>
            <img src="img/slides/threat_modelling_training_004.png">
          </li>
          <li>
            <img src="img/slides/threat_modelling_training_005.png">
          </li>
          <li>
            <img src="img/slides/threat_modelling_training_006.png">
          </li>
          <li>
            <img src="img/slides/threat_modelling_training_007.png">
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>



