<div class="twitterBox">
    <div class="twitterHeader">
        <h3>Twitter Feed</h3>
    </div>
    <div class="twitterFeed">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quaerat illo praesentium animi minus.</p>
        <p class="small">Lorem Ipsum Dolor</p>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque perferendis. Eaque perferendis praesentium animi praesentium animi</p>
        <p class="small">Lorem Ipsum Dolor</p>
        <hr>
        <p>Facilis nesciunt nam veniam ex quaerat illo praesentium animi.</p>
        <p class="small">Lorem Ipsum Dolor</p>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo praesentium animi minus.</p>
        <p class="small">Lorem Ipsum Dolor</p>
    </div>
</div>