---
title: Artis-Secure Ltd - Making security Consistent, Repeatable and Measurable
---

<!-- HEADER -->
<%= partial "_includes/header" %>

<!-- NAVBAR -->
<%= partial "_includes/nav" %>

<div class="content">

    <section class="col1">
        <img class="bioPic">
        <p class="quote">“Secure architecture activity works best when it is integral to the solution architecture.”</p>
        <p class="quoteAtt">– Geoffrey Hill</p>
    </section>

    <main>
        <h1>Contact</h1>

        <p>Geoffrey Hill has been in the IT industry since 1990, when he developed and sold a C++ application to measure risk in the commodities markets in New York City.</p>
        <p>From 2007&ndash;2011, Geoffrey was the custodian of the Security Development Lifecycle (SDL) initiative in the Services organization at Microsoft, with endorsement by the Microsoft Trustworthy Computing Initiative Group.</p>
        <p>Geoffrey was recently employed by Cigital Inc., a leader in incorporating secure engineering development frameworks into the software development lifecycles of client organizations.</p>

        <!-- <h4>Artis-Secure is focused on making security development frameworks better integrated with business processes.</h4> -->

        <h4>Speaker Events:</h4>

        <ul class="conferences">

            <li class="itMarginBH">
                <div class="date"><i class="fa fa-calendar-o itMarginRQ"></i>May 2012</div>
                <div class="speach">"Adapting SDL practices to mobile security"</div>
                <div class="conference">@ Microsoft Security Development Conference, Washington DC</div>
            </li>

            <li class="itMarginBH">
                <div class="date"><i class="fa fa-calendar-o itMarginRQ"></i>February 2014</div>
                <div class="speach">"Using collected data points to design and roll out software security initiatives"</div>
                <div class="conference">@ RSA San Francisco - Metricon Seeing the Elephant</div>
            </li>

            <li class="itMarginBH">
                <div class="date"><i class="fa fa-calendar-o itMarginRQ"></i>November 2014</div>
                <div class="speach">"Cloud based validation patterns"</div>
                <div class="conference">@ DeepSec Vienna</div>
            </li>

        </ul>

        <h4 class="itMarginBH">Teaching SDL and Secure Engineering practices at:</h4>
        <ul class="teachings">
            <li><i class="fa fa-calendar-o itMarginRQ"></i>2009 &ndash; 2015 &ndash; Surrey University Guildford UK - Guest Lecturer</li>
            <li><i class="fa fa-calendar-o itMarginRQ"></i>2010 &ndash; Chinese Government Beijing - MS IT Security Practices</li>
            <li><i class="fa fa-calendar-o itMarginRQ"></i>2011 &ndash; Barclays Mumbai - SDL Training</li>
            <li><i class="fa fa-calendar-o itMarginRQ"></i>2013 &ndash; SWIFT Kuala Lumpur - Defensive Programming</li>
        </ul>

    </main>

    <aside class="col3">
        <!-- TWITTER -->
        <%= partial "_includes/twitter" %>
    </aside>

</div>

<!-- FOOTER -->
<%= partial "_includes/footer" %>

