---
title: Artis-Secure Ltd - Making security Consistent, Repeatable and Measurable
---

<!-- HEADER -->
<%= partial "header" %>

<!-- NAVBAR -->
<%= partial "nav" %>

<div class="content">

    <section class="col1">
        <img class="bioPic">
        <p class="quote">“Secure architecture activity works best when it is integral to the solution architecture.”</p>
        <p class="quoteAtt">– Geoffrey Hill</p>
    </section>

    <main>
        <h1>Contact</h1>

        <p>Geoffrey Hill has been in the IT industry since 1990, when he developed and sold a C++ application to measure risk in the commodities markets in New York City.</p>
        <p>From 2007 - 2011, Geoffrey was the custodian of the Security Development Lifecycle (SDL) initiative in the Services organization at Microsoft, with endorsement by the Microsoft Trustworthy Computing Initiative Group.</p>
        <p>Geoffrey was recently employed by Cigital Inc., a leader in incorporating secure engineering development frameworks into the software development lifecycles of client organizations.</p>
        <p><b>Artis-Secure is focused on making security development frameworks better integrated with business processes.</b></p>
        <p>Geoffrey has recently been a speaker at the following conferences:
        2012, May - Microsoft Security Development Conference Washington DC - Adapting SDL practices to mobile security</p>
        <ul>
            <li>2014, Feb - RSA San Francisco - Metricon Seeing the Elephant - Using collected data points to design and roll out software security initiatives</li>
            <li>2014, Nov - Deepsec Vienna - Cloud based validation patterns</li>
        </ul>
        <p>And has recently taught SDL and Secure Engineering practices at:</p>
        <ul>
            <li>2009 - 2015 - Surrey University Guildford UK - guest lecturer</li>
            <li>2010, May - Chinese Government Beijing - MS IT security practices</li>
            <li>2011, May - Barclays Mumbai - SDL training</li>
            <li>2013, Jul - SWIFT Kuala Lumpur - Defensive Programming</li>
        </ul>

    </main>

    <aside class="col3">
        <!-- TWITTER -->
        <%= partial "twitter" %>
    </aside>

</div>

<!-- FOOTER -->
<%= partial "footer" %>

