---
title: HTML5 Boilerplate Middleman
---

<header>
    <div class="branding">
        <div class="logo"></div>
        <div class="brandName">Artis-Secure <small>Ltd.</small></div>
        <div class="tagline">Consistent &bull; Repeatable &bull; Measurable</div>
    </div>

    <div class="headContact">
        <button class="linkedin"><a href="http://uk.linkedin.com/pub/geoffrey-hill/0/7bb/61b/en" target="blank">Linked <span class="linkBox">in</span></a></button>
        <p class="email"><a href="mailto:geoff-h@artis-secure.com">geoff-h@artis-secure.com</a></p>
    </div>

</header>

<div class="content">

    <section class="col1">
        <img class="bioPic">
        <p class="quote">“The secure architecture activity works best when it is not a separate process but part and parcel of the solution architecture. Security architects should be integrating their patterns into the solution along-side the solution architects. In fact, they should be working <i>with</i> the solution architects to produce the solution.”</p>
        <p class="quoteAtt">– Geoffrey Hill</p>
    </section>

    <main>
        <h1><!-- The Artis-Secure advantage -  -->Developing mature security engineering programs from unconnected ad-hoc security processes</h1>
        <p>Artis-Secure promotes good security practice by providing a complete secure solution. From inception through design, development and testing, our services help architecture and development teams understand critical security threats in their software projects.</p>

        <div class="servicesBox">
            <h2>Services</h2>
            <p>The Artis-Secure team will improve the secure engineering of any project by changing its ad-hoc security processes into a well-governed security framework that is fully integrated into a project's development lifecycle.</p>
            <ul>
                <li>Security pattern creation</li>
                <li>Integrated threat modelling</li>
                <li>End-to-end secure engineering</li>
            </ul>

            <!-- SLIDESHOW -->
            <%= partial "modal" %>

        </div>

    </main>

    <aside class="col3">
        <div class="twitterBox">
            <div class="twitterHeader">
                <h3>Twitter Feed</h3>
            </div>
            <div class="twitterFeed">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quaerat illo praesentium animi minus.</p>
                <p class="small">Lorem Ipsum Dolor</p>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque perferendis. Eaque perferendis praesentium animi</p>
                <p class="small">Lorem Ipsum Dolor</p>
                <hr>
                <p>Facilis nesciunt nam veniam ex quaerat illo praesentium animi.</p>
                <p class="small">Lorem Ipsum Dolor</p>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo praesentium animi minus.</p>
                <p class="small">Lorem Ipsum Dolor</p>
            </div>
        </div>
    </aside>

</div>

<footer>
    <p class="copyright">Copyright &copy; <%= Time.now.year %> Artis-Secure Ltd. All rights reserved</p>
</footer>

