---
title: HTML5 Boilerplate Middleman
---

<header>
    <div class="branding">
        <div class="logo"></div>
        <div class="brandName">Artis-Secure <small>Ltd.</small></div>
        <div class="tagline">Lorem ipsum dolor sit amet, consectet</div>
    </div>

    <div class="headContact">
        <button class="linkedin"><a href="http://uk.linkedin.com/pub/geoffrey-hill/0/7bb/61b/en" target="blank">Linked <span class="linkBox">in</span></a></button>
        <!-- <a class="linkedin" href="http://uk.linkedin.com/pub/geoffrey-hill/0/7bb/61b/en"> -->
            <!-- <img src="img/linkedin.png" width="74" height="21" border="0" alt="View Geoffrey's Hill's profile on LinkedIn"> -->
        <!-- </a> -->
        <p class="email"><a href="mailto:geoff-h@artis-secure.com">geoff-h@artis-secure.com</a></p>
    </div>

</header>

<div class="content">

    <section class="col1">
        <img class="bioPic">
        <p class="quote">“Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac fis in, egestas eget quam.”</p>
        <p class="quoteAtt">– Geoffrey Hill</p>
    </section>

    <main>
        <h1>Cum socis natoque penatibus etes</h1>
        <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Justo odio, dapibus ac facilisis</p>

        <div class="servicesBox">
            <h2>Services</h2>
            <ul>
                <li>Software security training, threat modelling</li>
                <li>Security architecture consulting</li>
                <li>Security process consulting</li>
                <li>Soon to be released security process product</li>
            </ul>

            <!-- SLIDESHOW -->
            <%= partial "modal" %>

        </div>

    </main>

    <aside class="col3">
        <div class="twitterBox">
            <div class="twitterHeader">
                <h3>Twitter Feed</h3>
            </div>
            <div class="twitterFeed">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque perferendis facilis nesciunt nam veniam ex quaerat illo praesentium animi minus.</p>
                <p class="small">Lorem Ipsum Dolor</p>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque perferendis. Quaerat illo consectetur adipisicing elit. Eaque perferendis praesentium animi</p>
                <p class="small">Lorem Ipsum Dolor</p>
                <hr>
                <p>Facilis nesciunt nam veniam ex quaerat illo praesentium animi minus.</p>
                <p class="small">Lorem Ipsum Dolor</p>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo praesentium animi minus.</p>
                <p class="small">Lorem Ipsum Dolor</p>
            </div>
        </div>
    </aside>

</div>

<footer>
    <div class="headFootGrid">
        <!-- Footer -->
    </div>
</footer>

