---
title: Artis-Secure Ltd - Making security Consistent, Repeatable and Measurable
---

<!-- HEADER -->
<%= partial "_includes/header" %>

<!-- NAVBAR -->
<%= partial "_includes/nav" %>

<div class="content">

    <aside class="col1">
        <img class="bioPic">
        <p class="quote">“Secure architecture activity works best when it is integral to the solution architecture.”</p>
        <p class="quoteAtt">– Geoffrey Hill</p>
    </aside>

    <main>

        <h1>Secure Engineering head</h1>

        <h4>Lorem Ipsum</h4>
        <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li> consectetur adipisicing elit.</li>
            <li> Cumque nihil amet ut exercitationem.</li>
        </ul>


    </main>

    <aside class="col3">
        <!-- TWITTER -->
        <%= partial "_includes/twitter" %>
    </aside>

</div>

<!-- FOOTER -->
<%= partial "_includes/footer" %>

