---
title: Artis-Secure Ltd - Making security Consistent, Repeatable and Measurable
---

<!-- HEADER -->
<%= partial "_includes/header" %>

<!-- NAVBAR -->
<%= partial "_includes/nav" %>

<div class="content">

    <aside class="col1">
        <img class="bioPic">
        <p class="quote">“Secure architecture activity works best when it is integral to the solution architecture.”</p>
        <p class="quoteAtt">– Geoffrey Hill</p>
    </aside>

    <main>

        <h1>Use code architecture patterns to mitigate threats against system assets</h1>

        <p class="big">Artis-Secure creates secure patterns in the following areas.</p>

        <h4>Data Validation</h4>
        <ul>
            <li>Defense patterns against Injection attack</li>
            <li>Proper Regular Expression use</li>
            <li>Good Output Encoding</li>
        </ul>

        <h4>Authentication</h4>
        <ul>
            <li>Patterns for Basic, token-based, Two-factor/Multi-factor</li>
        </ul>

        <h4>Configuration</h4>
        <ul>
            <li>Secure patterns for accessing resources</li>
            <li>Secure application configurations</li>
        </ul>

        <h4>Sensitive Data</h4>
        <ul>
            <li>Patterns to send/receive Secrets</li>
            <li>Good practice around Personally Identifiable Information (PII)</li>
            <li>Secure use of Primary Account Data (PAN)</li>
        </ul>

        <h4>Cryptography</h4>
        <ul>
            <li>Proper Encryption patterns (symmetric/asymmetric)</li>
            <li>Use of Hash functions and Digital signatures</li>
            <li>Good Key management</li>
        </ul>

        <h4>Session</h4>
        <ul>
            <li>Secure patterns for session management</li>
        </ul>

        <h4>Exception</h4>
        <ul>
            <li>Error handling patterns</li>
        </ul>

        <h4>Logging</h4>
        <ul>
            <li>Secure logging</li>
        </ul>


    </main>

    <aside class="col3">
        <!-- TWITTER -->
        <%= partial "_includes/twitter" %>
    </aside>

</div>

<!-- FOOTER -->
<%= partial "_includes/footer" %>

