---
title: Artis-Secure Ltd - Making security Consistent, Repeatable and Measurable
---

<!-- HEADER -->
<%= partial "_includes/header" %>

<!-- NAVBAR -->
<%= partial "_includes/nav" %>

<div class="content">

    <aside class="col1">
        <img class="bioPic">
        <p class="quote">“Secure architecture activity works best when it is integral to the solution architecture.”</p>
        <p class="quoteAtt">– Geoffrey Hill</p>
    </aside>

    <main>

        <h1>Software Security Initiative Framework</h1>

        <p>Artis-Secure defines and creates a tailored framework for secure engineering capabilities within all types of organisations. It assists in the development of critical qualities your organization needs to achieve a top-tier security stature.</p>

        <h4>Improvement of critical initiative qualities</h4>
        <ul>
            <li>Creation of a communication and reporting process for key stakeholders</li>
            <li>Creation of a proactive security strategy</li>
            <li>Creation of policy and process governance structures</li>
        </ul>

        <h4>Integration of security practice into the Software Development Lifecycle (SDLC)</h4>
        <ul>
            <li>Secure design principles based on threat modelling</li>
            <li>Secure development practices based on Artis-Secure's proven secure coding patterns</li>
            <li>Proven security testing processes</li>
        </ul>

        <h4>Construction of a Software Security Initiative</h4>
        <ul>
            <li>Integration with corporate Governance, Risk and Compliance procedures</li>
            <li>Measurement against a maturity model that we define for your organization</li>
            <li>Integration with government regulatory standards</li>
        </ul>


    </main>

    <aside class="col3">
        <!-- TWITTER -->
        <%= partial "_includes/twitter" %>
    </aside>

</div>

<!-- FOOTER -->
<%= partial "_includes/footer" %>

