---
title: Artis-Secure Ltd - Making security Consistent, Repeatable and Measurable
---

<!-- HEADER -->
<%= partial "_includes/header" %>

<!-- NAVBAR -->
<%= partial "_includes/nav" %>

<div class="content">

    <aside class="col1">
        <img class="bioPic">
        <p class="quote">“Secure architecture activity works best when it is integral to the solution architecture.”</p>
        <p class="quoteAtt">– Geoffrey Hill</p>
    </aside>

    <main>
        <!-- <i class="fa fa-bullseye itMarginR0 hvr-icon-bounce"> -->
        <h1></i>Integrate a secure engineering framework into any software development lifecycle</h1>

        <h4>Create Trusted Subsystems by</h4>
        <ul>
            <li>Using secure Designs</li>
            <li>Determining Default secure settings</li>
            <li>Designing a secure Deployment framework</li>
        </ul>

        <h4>We adapt to Evolving Threats by</h4>
        <ul>
            <li>Researching OWASP Top 10 security issues</li>
            <li>Modelling Common Attack Patterns (CAPEC)</li>
            <li>Factoring Common weaknesses (CWE)</li>
        </ul>

        <h4>We mitigate discovered threats using</h4>
        <ul>
            <li>STRIDE threat modelling taxonomy</li>
            <li>Focus on the Security Frame</li>
            <li>Using the Privacy Frame for data</li>
        </ul>


    </main>

    <aside class="col3">
        <!-- TWITTER -->
        <%= partial "_includes/twitter" %>
    </aside>

</div>

<!-- FOOTER -->
<%= partial "_includes/footer" %>

