
@font-face {
    font-family: 'economica';
    src: url('Economica-Regular.eot');
    src: url('Economica-Regular.eot?#iefix') format('embedded-opentype'),
         url('Economica-Regular.woff2') format('woff2'),
         url('Economica-Regular.woff') format('woff'),
         url('Economica-Regular.ttf') format('truetype'),
         url('Economica-Regular.svg#economicaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'economica';
    src: url('Economica-Italic.eot');
    src: url('Economica-Italic.eot?#iefix') format('embedded-opentype'),
         url('Economica-Italic.woff2') format('woff2'),
         url('Economica-Italic.woff') format('woff'),
         url('Economica-Italic.ttf') format('truetype'),
         url('Economica-Italic.svg#economicaitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'economica';
    src: url('Economica-Bold.eot');
    src: url('Economica-Bold.eot?#iefix') format('embedded-opentype'),
         url('Economica-Bold.woff2') format('woff2'),
         url('Economica-Bold.woff') format('woff'),
         url('Economica-Bold.ttf') format('truetype'),
         url('Economica-Bold.svg#economicabold') format('svg');
    font-weight: normal;
    font-style: bold;
}

@font-face {
    font-family: 'economica';
    src: url('Economica-BoldItalic.eot');
    src: url('Economica-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('Economica-BoldItalic.woff2') format('woff2'),
         url('Economica-BoldItalic.woff') format('woff'),
         url('Economica-BoldItalic.ttf') format('truetype'),
         url('Economica-BoldItalic.svg#economicabold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}


