//  GRID SETTINGS
// $local-max-width: 400px;
$max-width: em(1088) !default;
$mobile: new-breakpoint(max-width 760px 6);

.element {
    @include media($mobile) {
        @include span-columns(4);
    }
}

body {
    @include outer-container;
}

header, footer {
    @include span-columns(12);
    clear: both;
    @include clearfix;
    @include media($mobile) {
        @include span-columns(6);
    }
}

.content {
    padding: 1.5em 1.5em 1.5em;
    @include clearfix;
    background: $white;
    overflow: hidden;

    .col1 {
        @include span-columns(2);
        @include media($mobile) {
            @include span-columns(6);
            margin-bottom: 1em;
        }
    }
    main {
        @include span-columns(7);
        @include media($mobile) {
            @include span-columns(6);
        }
    }
    .col3 {
        @include span-columns(3);
        @include omega;
        margin-bottom: 1em;
        @include media($mobile) {
            @include span-columns(6);
        }
    }
}