
//  GRID SETTINGS

// $local-max-width: 400px;
$max-width: em(1088) !default;
$mobile: new-breakpoint(max-width 760px 6);

.element {
    @include media($mobile) {
        @include span-columns(4);
    }
}

body {
    @include outer-container;
}

header, footer {
    @include span-columns(12);
    // display: block;
    clear: both;
    @include clearfix;
    @include media($mobile) {
        @include span-columns(6);
    }
}

.content {
    padding: .5em 0.5em 0;
    @include clearfix;
    // display: inline-block;
    background: $white;
    overflow: hidden;
    // @include outer-container;

    .col1 {
        @include span-columns(2);
        // background: red;
        @include media($mobile) {
            @include span-columns(6);
        }
    }
    main {
        @include span-columns(7);
        // @include clearfix;
        // background: orange;
        @include media($mobile) {
            @include span-columns(6);
        }
    }
    .col3 {
        @include span-columns(3);
        @include omega;
        // background: $greyLightest;
        margin-bottom: 1em;
        // height: 260px;
        @include media($mobile) {
            @include span-columns(6);
            // margin-bottom: 1em;
        }
    }
}