nav.nav-collapse {
  background: $accent;
  @include box-shadow(transparentize(black,.5) 0px 2px 18px -2px);
  @include clearfix;
  clear: both;

  ul {
    margin: 0;
    padding: 0;
    @include clearfix;

    li {
      list-style-type: none;
      float: left;
      display: inline-block;
      background: $accent;
      border-right: 1px solid transparentize($primaryDk,.75);
      border-bottom: none;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        color: $white;
        background: $accentDk;
        cursor: pointer;
      }

      @include media($middle) {
        // width: 100%;
      }

      @include media($mobile) {
          width: 100%;
          border-right: none;
          border-bottom: 1px solid transparentize($white,.85);
      }

      a {
          color: $primary;
          padding: 0.5em 2em 0.6em;
          display: block;

          &:hover {
              color: $white;
              // color: $accent;
          }
          &:visited {
            // color: red;
              // color: $accentDk;
          }
      }

      &:hover a {
          // @include linear-gradient(lighten($primary,15),darken($primary,05));
          cursor: pointer;
          color: $white;
      }

    }

  }
}

// #######################
// NAV BUTTONS

.index nav ul li.home {
  background: $accentDk;
    color: $white !important;
    &:hover {
      background: $accentDk;
    }
    a {
        color: $white;
        &:visited,
        &:hover {
            color: $white !important;
        }
    }
}

.contact nav ul li.contact {
  background: $accentDk;
    color: $white !important;
    &:hover {
      background: $accentDk;
    }
    a {
        color: $white;
        &:visited,
        &:hover {
            color: $white !important;
        }
    }
}

.about nav ul li.about {
  background: $accentDk;
    color: $white !important;
    &:hover {
      background: $accentDk;
    }
    a {
        color: $white;
        &:visited,
        &:hover {
            color: $white !important;
        }
    }
}

.threatModelling nav ul li.threat {
  background: $accentDk;
    color: $white !important;
    &:hover {
      background: $accentDk;
    }
    a {
        color: $white;
        &:visited,
        &:hover {
            color: $white !important;
        }
    }
}

.secureCodingPatterns nav ul li.secureCoding {
  background: $accentDk;
    color: $white !important;
    &:hover {
      background: $accentDk;
    }
    a {
        color: $white;
        &:visited,
        &:hover {
            color: $white !important;
        }
    }
}

.secureEngineering nav ul li.secureEng {
  background: $accentDk;
    color: $white !important;
    &:hover {
      background: $accentDk;
    }
    a {
        color: $white;
        &:visited,
        &:hover {
            color: $white !important;
        }
    }
}

// ##########









